* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body, html {
margin: 0;
padding: 0;
width: 100%;
height: 100%;
position: relative;
background: #0d0d18;
}
html {
  scroll-behavior: smooth;
}

.land-page {
    width: 100%;
    height: auto;
    position: relative;
    display: flex;
    flex-direction: column;
}
.navigation {
    width: 100%;
    height:auto;
    z-index: 999;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    padding: 0 30px;
    margin-top: 10px;
}
/* --------------search bar--------- */
.search-d {
    align-items: center;
    position: relative;
    display: inline-block;
    margin-left: 10px;
}
.search-d i{
    font-size: 30px;
    color: rgb(255, 255, 255);
    cursor: pointer;
    position: relative;
    z-index: 2;
}

#search-bar {
    width: 0;
    opacity: 0;
    transition: width 0.4s cubic-bezier(.4,0,.2,1), opacity 0.3s;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    background: transparent;
    outline: none;
    border: none;
    font-family: "Orbitron", sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
}
#search-bar.active {
    width: 150px;
    height: 35px;
    opacity: 1;
    padding: 5px 20px 0 40px;
    border-bottom: 2px solid rgb(255, 255, 255);
}
/*-------navigation ul---- */
.n-f-ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 20px;
    align-items: center;
    text-align: center;
    padding: 0 10px;
    margin-left: 65px;
}
.n-f-ul h1 {
    color:rgb(255, 255, 255);
    font-family: "Sansation", sans-serif;
    font-size: 35px;
    font-weight: 600;
    text-transform: uppercase;
    margin: 0 30px;
}
.n-f-ul li {
    padding: 10px;
    display: inline-block;
}

.n-f-li a {
    position: relative;
    display: inline-block;
    font-family: "Orbitron", sans-serif;
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    z-index: 1;
    padding: 12px;
}
.n-f-li a::before {
  content: '';
  position: absolute;
  inset: 0; /* shorthand for top:0; right:0; bottom:0; left:0 */
  border: 2px solid #ffffff;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.4s ease;
  z-index: -1; /* behind the text */
}
.n-f-li a:hover::before {
  transform: scaleX(1);
}

.con-d {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.cond-t span {
    color:  orange;
    text-transform: uppercase;
    font-size: 10px;
    font-weight: 400;
    font-family: "Orbitron", sans-serif;
    letter-spacing: 4px;
    line-height: 1.5;
}
.cond-t {
    color: #fff;
    text-transform: uppercase;
    font-size: 10px;
    font-weight: 400;
    font-family: "Orbitron", sans-serif;
    letter-spacing: 3px;
    line-height: 1.5;
}
.cond-num {
    color: #fff;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 600;
    font-family: "Orbitron", sans-serif;
    line-height: 1.5;
}
.cond-num i {
    font-size: 22px;
    margin-left: 10px;
}
/* -----------------land page text----------------- */
.land-text-hold {
    width: 100%;
    height: 120vh;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    background: url(/SpaceY/SPACEY/img/SY\ land-p\ no\ man.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 230px;
}
.land-text-hold::after{
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100px;
  width: 100%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.116) 0%, #0b0b0b 100%);
  pointer-events: none; /* Let clicks pass through */
  z-index: 2;
}
.land-text-hold h3{
    color: #fff;
    text-transform: uppercase;
    font-size: 30px;
    font-family: "Orbitron", sans-serif;
    word-spacing: 10px;
    font-weight: 400;
    margin-right: 28px;
}

.land-text-hold h1 {
    color: #ffffff;
    text-transform: uppercase;
    font-size: 65px;
    font-family: "Orbitron", sans-serif;
    font-weight: 600;
    letter-spacing: 10px;
}
/* .land-text-hold h3, .land-text-hold h1, .obj-hold img {
    transform: scale(0);
    opacity: 0;
} */
/*-------------------------object  */
.obj-hold {
    width:200px;
    height:430px;
    display: flex;
    position: absolute;
    top:33%;

}
.obj-hold img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/*--------next launch section----------- */
.next-launch-sec {
    position: absolute;
    top: 94%;
    width: 100%;
    height: auto;
    z-index: 999;
    display: flex;
    justify-content: center;
}
.next-launch-hold {
    width: 100%;
    height:100%;
    margin: 0 110px;
}
.next-launch-con {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 2px solid #f8a95e;
}
.launch-sec {
    background: transparent;
    width:100%;
    height: auto;
    padding: 10px 14px; 
    display: flex;
    flex-direction: column;
    gap: 5px;
    border-right: 2px solid #f8a95e;
    cursor: pointer;
}
.launch-sec span {
    color: #fff;
    font-size: 15px;
    font-family: "Orbitron", sans-serif;
    font-weight: 500;
    line-height: 1.5;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.launch-sec h3 {
    color: #fff;
    font-size: 20px;
    font-family: "Orbitron", sans-serif;
    font-weight: 600;
    line-height: 1.5;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.ri-arrow-drop-down-line{
    font-size: 25px;
}
.five-sec{
    color: #fff;
    font-size: 12px;
    font-family: "Orbitron", sans-serif;
    font-weight: 600;
    line-height: 1.5;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 2px;
    width: 100%;
    height:auto;
    padding: 10px;
    cursor: pointer;
}
/*----------featured box-------------*/
.featured-sec {
    padding: 150px 0;
    width: 100%;
    height: auto;
}
.featured-hold {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.featured-img {
    width: 200px;
    height: 200px;
}
.featured-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.featured-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
}
.featured-text h3 {
    color: orange;
    font-size: 23px;
    font-family: "Orbitron", sans-serif;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 3px;
}
.featured-text h1 {
    color: #fff;
    font-size: 35px;
    font-family: "Orbitron", sans-serif;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 5px;
}
/* ----------------------main----------- */
main {
    position: relative;
    width: 100%;
    height: auto;
}
main::after{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100px;
  width: 100%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.425) 0%, #0e0e19b6 100%);
  pointer-events: none; /* Let clicks pass through */
  z-index: 9;
}
/* ----------------travel cart----- */
.card-hold {
    width:100%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 90px;
}
.card-content {
    width: 320px;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.first-card {
    background: url(/SpaceY/SPACEY/img/moon\ surface\ 2.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.second-card {
    background: url(/SpaceY/SPACEY/img/mars\ surface.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.third-card {
    background: url(/SpaceY/SPACEY/img/gpt\ neptune\ surface.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.planet {
    position: absolute;
    width: 220px;
    height: 220px;
    border-radius: 50%;
    bottom: 32%;
}
.planet-img {
    width: 100%;
    height: 100%;
    object-fit: fill;
    border-radius: 50%;
    cursor: pointer;
}
.planet-cart-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: 30%;
}
.planet-cart-content span {
    font-size: 18px;
    font-family: "Orbitron", sans-serif;
    font-weight: 300;
    letter-spacing: 4px;
    text-transform: uppercase;
    color: #fff;
}
.planet-cart-content h1 {
    width: 80%;
    font-size: 23px;
    font-family: "Orbitron", sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    color:#fff;
    text-align: center;
    margin-top: 10px;
}
.planet-cart-content button {
    width: 130px;
    height: 40px;
    border-radius: 5px;
    font-size: 15px;
    font-family: "Orbitron", sans-serif;
    font-weight: 400;
    word-spacing: 2px;
    text-transform: uppercase;
    color:#fff;
    background-color: #f8963b;
    border: none;
    outline: none;
    margin-top: 147px;
    cursor: pointer;
}