* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body, html {
margin: 0;
padding: 0;
width: 100%;
height: 100%;
position: relative;
background:#000316;
}
html {
  scroll-behavior: smooth;
}
.cursor {
    width: 10px;
    height: 10px;
    background-color: #fff;
    border-radius: 50%;
    position: fixed;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    z-index: 99999;
}
.land-page {
    width: 100%;
    height: auto;
    position: relative;
    display: flex;
    flex-direction: column;
}
.navigation {
    width: 100%;
    height:auto;
    z-index: 999;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    padding: 0 30px;
    margin-top: 10px;
}
/* --------------search bar--------- */
.search-d {
    align-items: center;
    position: relative;
    display: inline-block;
    margin-left: 10px;
}
.search-d i{
    font-size: 30px;
    color: rgb(255, 255, 255);
    cursor: pointer;
    position: relative;
    z-index: 2;
}

#search-bar {
    width: 0;
    opacity: 0;
    transition: width 0.4s cubic-bezier(.4,0,.2,1), opacity 0.3s;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    background: transparent;
    outline: none;
    border: none;
    font-family: "Orbitron", sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
}
#search-bar.active {
    width: 150px;
    height: 35px;
    opacity: 1;
    padding: 5px 20px 0 40px;
    border-bottom: 2px solid rgb(255, 255, 255);
}
/*-------navigation ul---- */
.n-f-ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 20px;
    align-items: center;
    text-align: center;
    padding: 0 10px;
    margin-left: 65px;
}
.n-f-ul h1 {
    color:rgb(255, 255, 255);
    font-family: "Sansation", sans-serif;
    font-size: 35px;
    font-weight: 600;
    text-transform: uppercase;
    margin: 0 30px;
}
.n-f-ul li {
    padding: 10px;
    display: inline-block;
}

.n-f-li a {
    position: relative;
    display: inline-block;
    font-family: "Orbitron", sans-serif;
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    z-index: 1;
    padding: 12px;
}
.n-f-li a::before {
  content: '';
  position: absolute;
  inset: 0; /* shorthand for top:0; right:0; bottom:0; left:0 */
  border: 2px solid #ffffff;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.4s ease;
  z-index: -1; /* behind the text */
}
.n-f-li a:hover::before{
  transform: scaleX(1);
}

.con-d {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.cond-t span {
    color:  orange;
    text-transform: uppercase;
    font-size: 10px;
    font-weight: 400;
    font-family: "Orbitron", sans-serif;
    letter-spacing: 4px;
    line-height: 1.5;
}
.cond-t {
    color: #fff;
    text-transform: uppercase;
    font-size: 10px;
    font-weight: 400;
    font-family: "Orbitron", sans-serif;
    letter-spacing: 3px;
    line-height: 1.5;
}
.cond-num {
    color: #fff;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 600;
    font-family: "Orbitron", sans-serif;
    line-height: 1.5;
}
.cond-num i {
    font-size: 22px;
    margin-left: 10px;
}
/* -----------------land page text----------------- */
.land-text-hold {
    width: 100%;
    height: 120vh;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    background: url(/SpaceY/SPACEY/img/SY\ land-p\ no\ man.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 230px;
}
.land-text-hold::after{
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100px;
  width: 100%;
  pointer-events: none; /* Let clicks pass through */
  z-index: 2;
}
.land-text-hold h3{
    color: #fff;
    text-transform: uppercase;
    font-size: 30px;
    font-family: "Orbitron", sans-serif;
    word-spacing: 10px;
    font-weight: 400;
    margin-right: 28px;
}

.land-text-hold h1 {
    color: #ffffff;
    text-transform: uppercase;
    font-size: 65px;
    font-family: "Orbitron", sans-serif;
    font-weight: 600;
    letter-spacing: 10px;
}
.land-text-hold h3, .land-text-hold h1, .obj-hold img {
    transform: scale(0);
    opacity: 0;
}
/*-------------------------object  */
.obj-hold {
    width:200px;
    height:430px;
    display: flex;
    position: absolute;
    top:33%;

}
.obj-hold img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/*--------next launch section----------- */
.next-launch-sec {
    position: absolute;
    top: 94%;
    width: 100%;
    height: auto;
    z-index: 999;
    display: flex;
    justify-content: center;
}
.next-launch-hold {
    width: 100%;
    height:100%;
    margin: 0 110px;
    background: #0003166c;
}
.next-launch-con {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 2px solid #f8a95e;
}
.launch-sec {
    background: transparent;
    width:100%;
    height: auto;
    padding: 10px 14px; 
    display: flex;
    flex-direction: column;
    gap: 5px;
    border-right: 2px solid #f8a95e;
    cursor: pointer;
}
.launch-sec span {
    color: #fff;
    font-size: 15px;
    font-family: "Orbitron", sans-serif;
    font-weight: 500;
    line-height: 1.5;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.launch-sec h3 {
    color: #fff;
    font-size: 20px;
    font-family: "Orbitron", sans-serif;
    font-weight: 600;
    line-height: 1.5;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.ri-arrow-drop-down-line{
    font-size: 25px;
}
.five-sec{
    color: #fff;
    font-size: 12px;
    font-family: "Orbitron", sans-serif;
    font-weight: 600;
    line-height: 1.5;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 2px;
    width: 100%;
    height:auto;
    padding: 10px;
    cursor: pointer;
}
/*----------featured box-------------*/
.featured-sec {
    padding: 150px 0;
    width: 100%;
    height: auto;
}
.featured-hold {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.featured-img {
    width: 200px;
    height: 200px;
}
.featured-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.featured-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
}
.featured-text h3 {
    color: orange;
    font-size: 23px;
    font-family: "Orbitron", sans-serif;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 3px;
}
.featured-text h1 {
    color: #fff;
    font-size: 30px;
    font-family: "Orbitron", sans-serif;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 5px;
}
/* ----------------------main----------- */
main {
    position: relative;
    width: 100%;
    height: auto;
}
main::after{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100px;
  width: 100%;
  pointer-events: none; /* Let clicks pass through */
  z-index: 9;
}
/* ----------------travel cart----- */
.card-hold {
    width:100%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 90px;
    position: relative;
}
.card-content {
    width: 330px;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
    position: relative;
}

.first-card {
    background: url(/SpaceY/SPACEY/img/moon\ surface\ 2.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.second-card {
    background: url(/SpaceY/SPACEY/img/mars\ surface.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.third-card {
    background: url(/SpaceY/SPACEY/img/gpt\ neptune\ surface.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.planet {
    position: absolute;
    width: 210px;
    height: 210px;
    border-radius: 50%;
    top: -25%;
}

.planet-img {
    width: 100%;
    height: 100%;
    object-fit: fill;
    border-radius: 50%;
    cursor: pointer;
    animation: float 2s ease-in-out infinite;
}

.planet-cart-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: 30%;
}
.planet-cart-content span {
    font-size: 18px;
    font-family: "Orbitron", sans-serif;
    font-weight: 300;
    letter-spacing: 4px;
    text-transform: uppercase;
    color: #fff;
}
.planet-cart-content h1 {
    width: 80%;
    font-size: 23px;
    font-family: "Orbitron", sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    color:#fff;
    text-align: center;
    margin-top: 10px;
}
.planet-cart-content button {
    width: 130px;
    height: 40px;
    border-radius: 5px;
    font-size: 15px;
    font-family: "Orbitron", sans-serif;
    font-weight: 400;
    word-spacing: 2px;
    text-transform: uppercase;
    color:#fff;
    background-color: #f8963b;
    border: none;
    outline: none;
    margin-top: 147px;
    cursor: pointer;
}
/* ---------------------- astro suit---section */
.astro-sec {
    width: 100%;
    height: 90vh;
    margin-top: 150px;
}
.astro-hold {
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: row;
}
.astro-img-hold {
    width: 54%;
    height: 100%;
}
.astro-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.astro-info-right {
    width: 40%;
    display: flex;
    flex-direction: column;
    margin-left: 15px;
}
.astro-info-parts {
    width: 100%;
    height: auto;
}
.astro-info-1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    padding: 22px 0;
}
.astro-title {
    display: flex;
    flex-direction: column;
}
.astro-title span, .astro-info-1 span, .planet-info-1 span{
    font-size: 16px;
    font-family: "Orbitron", sans-serif;
    font-weight: 400;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #f8963b;
}
.astro-title h1, .planet-info-1 h1 {
    font-size: 25px;
    font-family: "Orbitron", sans-serif;
    font-weight: 700;
    letter-spacing: 2px;
    line-height: 2;
    text-transform: uppercase;
}
.box-bottom-line {
    width: 100%;
    height: 2px;
    background-color: #ffd1a7b7;
    display: flex;
    justify-content: start;
    align-items: center;
}
.bold-line {
    width: 80px;
    height: 4px;
    background-color: #f8963b;
    border-radius: 7px;
}
.astro-info-2 {
    display: flex;  
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    letter-spacing: 2px;
    line-height: 2;
    color: #e7e5e5e3;
    width: 80%;
    margin-left: 60px;
    padding: 30px 0 40px 0;
}
.astro-info-3 {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.info-box-hold {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: flex-end;
}
.info-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 15px;
    border-right: 1px solid #d6b86d;
    border-bottom: 1px solid #d6b86d;
    border-top: 1px solid #d6b86d;
}
.info-box1{
border-left: 1px solid #d6b86d;
}
.info-box h1, .p-info-box h1 {
    font-size: 30px;
    font-family: "Orbitron", sans-serif;
    font-weight: 800;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #fff;
}

.info-box span, .p-info-box span {
    font-size: 20px;
    font-family: "Orbitron", sans-serif;
    font-weight: 400;
    line-height: 2;
    text-transform: uppercase;
    color: #fff;
}
.info-box-bottom {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}
.bottom-box {
    display: flex;
    flex-direction: row;
    border-right: 1px solid #d6b86d;
    border-bottom: 1px solid #d6b86d;
}
.bottom-box h1,.p-bottom-box h1 {
    font-size: 20px;
    font-family: "Orbitron", sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
    padding: 15px 37px;
    text-align: center;
    border-left: 1px solid #d6b86d;
}
.l-btn, .l-btn2{
    background: transparent;
    outline: none;
    border-left: 1px solid #d6b86d;
    border-right: none;
    border-bottom: none;
    border-top:none;
    width: 75px;
    height: auto;
}
.l-btn i, .l-btn2 i{
    font-size: 35px;
    font-family: "Orbitron", sans-serif;
    font-weight: 400;
    color: #fff;
    text-align: center;
}
/*---------------planet discover section----------*/
.planet-discover-sec {
    width: 100%;
    height: 100vh;
    padding: 0 80px;
}
.planets-names-d{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.p-name-hold {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    padding: 30px 0 10px 0;
}
.p-name-ul {
    display: flex;
    position: relative;
    flex-direction: row;
    align-items: center;
    gap: 70px;
}
.p-name-li {
    color: #fff;
    list-style-type: none;
    font-size: 20px;
    font-family: "Orbitron", sans-serif;
    font-weight: 400;
    letter-spacing: 2px;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
    padding: 6px 12px;
    transition: 1s ease-in-out;
    transform: scale(1);
}
.planet-slider {
  position: relative;
  height: 3px;
  background: rgba(255, 164, 112, 0.568);
  width: 100%;
  border-radius: 5px;
}
.active-bar {
  position: absolute;
  height: 3px;
  /* width: 8%; */
  background: orange;
  top: 0;
  left: 0;
  transition: all 0.3s ease;
  border-radius: 5px;
  margin-left: 54px;
}
.p-name-li.active {
    transform: scale(1.3);
}
/*------------------- */
.planet-info-hold {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 100%;
    position: relative;
    margin-top: 30px;
    padding-top: 40px;
}
.planet-info-left {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 20px;
    padding-left: 20px;
}
.planet-info-d {
    width: 100%;
    height: auto;
}
.planet-info-1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    padding: 22px 0;
    width: 90%;
}
.planet-info-2 {
     display: flex;  
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    letter-spacing: 2px;
    line-height: 2;
    color: #e7e5e5e3;
    width: 80%;
    padding: 30px 0 40px 0;
}
.planet-info-3 {
    width: 100%;
    display: flex;
    flex-direction: column;
}
.planet-info-contain {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: flex-start;
}
.p-info-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 15px;
    border-left: 1px solid #d6b86d;
    border-bottom: 1px solid #d6b86d;
    border-top: 1px solid #d6b86d;
}
.p-info-box3 {
    border-right: 1px solid #d6b86d;
}
.p-info-bottom {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.p-bottom-box {
    display: flex;
    flex-direction: row;
    border-right: 1px solid #d6b86d;
    border-bottom: 1px solid #d6b86d;
}

/*------planet right section image */
.planet-info-right {
    width: 100%;
    height: 100%;
    position: relative;
}
.planet-info-right img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.img-info-d {
    width: 30%;
    position: absolute;
    bottom: 6%;
    left: -22%;
}
.img-info-d span{
    font-size: 18px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    letter-spacing: 3px;
    line-height: 2;
    text-transform: uppercase;
    color: #fff;
    opacity: 0.8;
}

/*-------------------image gallery section----- */
.image-gallery-sec {
    width: 100%;
    height: 90vh;
    margin: 25% 0 10% 0;
    display: flex;
    flex-direction: column;
}
.img-frame-hold {
    width: 100%;
    height:50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
}
.img-gallery-info {
    display: flex;
    flex-direction: column;
    width: 35%;
    height: 100%;
    margin-left: 28%;
    margin-top: 20px;
}
.gallery-info-contain {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.g-info-box span {
    font-size: 16px;
    font-family: "Orbitron", sans-serif;
    font-weight: 400;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #f8963b;
}
.g-info-box h1 {
    font-size: 25px;
    font-family: "Orbitron", sans-serif;
    font-weight: 700;
    letter-spacing: 2px;
    line-height: 2;
    text-transform: uppercase;
    color: #fff;
}
.gallery-info-contain2 {
    display: flex;  
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    letter-spacing: 2px;
    line-height: 2;
    color: #e7e5e5e3;
    width: 100%;
    padding: 30px 20px 30px 30px;
}

.l-btn3{
    background: transparent;
    outline: none;
    border: 1px solid #d6b86d;
    width: 75px;
    height: auto;
}
.l-btn3 i{
    font-size: 35px;
    font-family: "Orbitron", sans-serif;
    font-weight: 400;
    color: #fff;
    text-align: center;
}
.img-frame-box1 {
    width: 26.2%;
    height:100%;
}
.img-frame-box2 {
    width: 280px;
    height:400px;
    position: absolute;
    bottom: 0;
    left: 353px;
}
.img-frame-box3 {
    width:28.2%;
    height: 100%;
}
.img-frame-box4 {
    width: 283px;
    height:400px;
    position: absolute;
    top: 0;
    left: 352px;
}
.img-frame-box5 {
    display: flex;
    flex-direction: column;
    width: 57%;
    height: 100%;
    margin-left: 20%;
}

.g-img-box img {
    width:100%;
    height: 100%;
    object-fit: cover;
}
/*------------plan your trip- section---- */
.plan-trip-sec {
    display: flex;
    flex-direction: row;
    width: 100%;
    height:auto;
    padding: 0 60px;
    margin-bottom: 80px;
}
.plan-trip-hold {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 100%;
    height: 50%;
}
.plan-trip-hold h1 {
    font-size: 25px;
    font-family: "Orbitron", sans-serif;
    font-weight: 500;
    color: #f8963b;
    text-align: center;
    text-transform: uppercase;
}
.plan-trip-hold p {
    font-size: 14px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    letter-spacing: 2px;
    line-height: 2;
    color: #e7e5e5e3;
    text-align: center;
    padding: 0 25px;
}
/* footer moon section--- */
.footer-sec {
    width:100%;
    height: 80vh;
    background: transparent;
    position: relative;
    background: url(/SpaceY/SPACEY/img/earth\ land.png);
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
}
.foot-hold {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 0;
    top: 45%;
}
.footer-logo h1 {
    color:rgb(255, 255, 255);
    font-family: "Sansation", sans-serif;
    font-size: 40px;
    font-weight: 600;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.footer-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 20px;
    z-index: 999;
    gap: 16px;
}
.footer-nav h4 {
    padding: 10px;
    display: inline-block;
    border: 2px solid transparent;
    border-radius: 6px;
    transform: scale(1);
    transition: 0.4s ease-in-out;
}
.footer-nav h4:hover {
    border: 2px solid #fff;
    border-radius: 6px;
    transform: scale(1.1);
}

.footer-nav  a {
    color:rgb(255, 255, 255);
    font-family: "Sansation", sans-serif;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    margin: 0 4px;
    text-decoration: none;
    display:inline-block;
    position: relative;
}

/*----------------------------------------- */
@keyframes float {
  0% { transform: translateX(0%) translateY(0px); }
  50% { transform: translateX(0%) translateY(-10px); }
  100% { transform: translateX(0%) translateY(0px); }
}
/*-------------------responsive media queries-------- */
@media screen and (max-width: 1159px) and (min-width: 960px) {

    body {
        width:1100px;
    }
    .navigation {
        width: 100%;
        padding:0 10px;
    }
    .n-f-ul {
        margin-left: 50px;
        gap: 14px;
    }
    .n-f-li a  {
        font-size: 14px;
    }
    .n-f-ul h1 {
        font-size: 30px;
    }
    .cond-t {
        font-size: 8px;
    }
    .cond-num, .cond-num i {
        font-size: 12px;
    }
    .land-text-hold h3 {
        font-size: 30px;
        margin: 0;
    }
    .land-text-hold h1 {
        font-size: 50px;
    }
    .land-text-hold {
        padding-bottom: 190px;
    }
    .launch-sec span {
        font-size: 14px;
    }
    .launch-sec h3 {
        font-size: 14px;
    }
    .five-sec {
        font: 10px;
    }
    .next-launch-hold {
        margin: 0 50px;
    }
    /*  ---card*/
    .card-hold {
        gap:50px;
    }
    .card-content {
        width: 300px;
    }
    .planet {
        width: 190px;
        height:190px;
    }
    .planet-cart-content {
        top: 26%;
    }
    .planet-cart-content button {
        margin-top: 160px;
    }
    /* fetured sec---- */
    .featured-sec {
        padding: 140px 0;
    }
    .planet-discover-sec {
        padding: 0 60px;
    }
    .p-name-ul {
        gap:40px;
    }
    .p-name-li {
        font-size: 17px;
    }
    .planet-info-hold {
        margin-top: 30px;
        padding-top: 30px;
    }
    .p-info-box {
        padding: 12px;
    }
    /*---------image section */
    .image-gallery-sec {
        margin-top: 40%;
    }
    .img-frame-box1{
        width: 28%;
    }
    .img-frame-box2, .img-frame-box4 {
        left: 305px;
    }
    .img-frame-box3 {
        width: 31%;
    }
    .g-info-box span {
        font-size: 14px;
    }
    .g-info-box h1 {
        font-size: 18px;
    }
    .l-btn3 {
        width: 50px;
    }
    .l-btn3 i {
        font-size: 25px;
    }
    .img-gallery-info {
        margin-left: 32%;
    }
    .gallery-info-contain2 {
        padding: 30px 0;
        font-size: 13px;
    }
    .info-box h1, .p-info-box h1 {
        font-size: 21px;
        font-weight: 500;
    }
    .info-box span, .p-info-box span {
        font-size: 16px;
        letter-spacing: 2px;
    }
    .bottom-box h1, .p-bottom-box h1 {
        padding: 15px 30px;
        font-size: 16px;
        font-weight: 500;
    }
    .l-btn, .l-btn2 {
        width: 65px;
    }
    .l-btn i, .l-btn2 i {
        font-size: 30px;
    }
    .img-info-d span {
        font-size: 14px;
    }
    .img-info-d {
        left: -25%;
        bottom: 0;
    }
}

@media screen and (max-width: 959px) and (min-width: 760px) {

    body {
        width:1100px;
    }
    .navigation {
        width: 100%;
        padding:0 10px;
    }
    .n-f-ul {
        margin-left: 50px;
        gap: 14px;
    }
    .n-f-li a  {
        font-size: 14px;
    }
    .n-f-ul h1 {
        font-size: 30px;
    }
    .cond-t {
        font-size: 8px;
    }
    .cond-num, .cond-num i {
        font-size: 12px;
    }
    .land-text-hold h3 {
        font-size: 30px;
        margin: 0;
    }
    .land-text-hold h1 {
        font-size: 50px;
    }
    .land-text-hold {
        padding-bottom: 190px;
    }
    .launch-sec span {
        font-size: 14px;
    }
    .launch-sec h3 {
        font-size: 14px;
    }
    .five-sec {
        font: 10px;
    }
    .next-launch-hold {
        margin: 0 50px;
    }
    /*  ---card*/
    .card-hold {
        gap:50px;
    }
    .card-content {
        width: 300px;
    }
    .planet {
        width: 190px;
        height:190px;
    }
    .planet-cart-content {
        top: 26%;
    }
    .planet-cart-content button {
        margin-top: 160px;
    }
    /* fetured sec---- */
    .featured-sec {
        padding: 140px 0;
    }
    .planet-discover-sec {
        padding: 0 60px;
    }
    .p-name-ul {
        gap:40px;
    }
    .p-name-li {
        font-size: 17px;
    }
    .planet-info-hold {
        margin-top: 30px;
        padding-top: 30px;
    }
    .p-info-box {
        padding: 12px;
    }
    /*---------image section */
    .image-gallery-sec {
        margin-top: 40%;
    }
    .img-frame-box1{
        width: 28%;
    }
    .img-frame-box2, .img-frame-box4 {
        left: 305px;
    }
    .img-frame-box3 {
        width: 31%;
    }
    .g-info-box span {
        font-size: 14px;
    }
    .g-info-box h1 {
        font-size: 18px;
    }
    .l-btn3 {
        width: 50px;
    }
    .l-btn3 i {
        font-size: 25px;
    }
    .img-gallery-info {
        margin-left: 32%;
    }
    .gallery-info-contain2 {
        padding: 30px 0;
        font-size: 13px;
    }
    .info-box h1, .p-info-box h1 {
        font-size: 21px;
        font-weight: 500;
    }
    .info-box span, .p-info-box span {
        font-size: 16px;
        letter-spacing: 2px;
    }
    .bottom-box h1, .p-bottom-box h1 {
        padding: 15px 30px;
        font-size: 16px;
        font-weight: 500;
    }
    .l-btn, .l-btn2 {
        width: 65px;
    }
    .l-btn i, .l-btn2 i {
        font-size: 30px;
    }
    .img-info-d span {
        font-size: 14px;
    }
    .img-info-d {
        left: -25%;
        bottom: 0;
    }
}

@media screen and (max-width: 759px) and (min-width: 480px) {

    body {
        width:1100px;
    }
    .navigation {
        width: 100%;
        padding:0 10px;
    }
    .n-f-ul {
        margin-left: 50px;
        gap: 14px;
    }
    .n-f-li a  {
        font-size: 14px;
    }
    .n-f-ul h1 {
        font-size: 30px;
    }
    .cond-t {
        font-size: 8px;
    }
    .cond-num, .cond-num i {
        font-size: 12px;
    }
    .land-text-hold h3 {
        font-size: 30px;
        margin: 0;
    }
    .land-text-hold h1 {
        font-size: 50px;
    }
    .land-text-hold {
        padding-bottom: 190px;
    }
    .launch-sec span {
        font-size: 14px;
    }
    .launch-sec h3 {
        font-size: 14px;
    }
    .five-sec {
        font: 10px;
    }
    .next-launch-hold {
        margin: 0 50px;
    }
    /*  ---card*/
    .card-hold {
        gap:50px;
    }
    .card-content {
        width: 300px;
    }
    .planet {
        width: 190px;
        height:190px;
    }
    .planet-cart-content {
        top: 26%;
    }
    .planet-cart-content button {
        margin-top: 160px;
    }
    /* fetured sec---- */
    .featured-sec {
        padding: 140px 0;
    }
    .planet-discover-sec {
        padding: 0 60px;
    }
    .p-name-ul {
        gap:40px;
    }
    .p-name-li {
        font-size: 17px;
    }
    .planet-info-hold {
        margin-top: 30px;
        padding-top: 30px;
    }
    .p-info-box {
        padding: 12px;
    }
    /*---------image section */
    .image-gallery-sec {
        margin-top: 40%;
    }
    .img-frame-box1{
        width: 28%;
    }
    .img-frame-box2, .img-frame-box4 {
        left: 305px;
    }
    .img-frame-box3 {
        width: 31%;
    }
    .g-info-box span {
        font-size: 14px;
    }
    .g-info-box h1 {
        font-size: 18px;
    }
    .l-btn3 {
        width: 50px;
    }
    .l-btn3 i {
        font-size: 25px;
    }
    .img-gallery-info {
        margin-left: 32%;
    }
    .gallery-info-contain2 {
        padding: 30px 0;
        font-size: 13px;
    }
    .info-box h1, .p-info-box h1 {
        font-size: 21px;
        font-weight: 500;
    }
    .info-box span, .p-info-box span {
        font-size: 16px;
        letter-spacing: 2px;
    }
    .bottom-box h1, .p-bottom-box h1 {
        padding: 15px 30px;
        font-size: 16px;
        font-weight: 500;
    }
    .l-btn, .l-btn2 {
        width: 65px;
    }
    .l-btn i, .l-btn2 i {
        font-size: 30px;
    }
    .img-info-d span {
        font-size: 14px;
    }
    .img-info-d {
        left: -25%;
        bottom: 0;
    }
}